# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

/tags
*~
\#*\#
.\#*
*_archive

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.aux
*.rej
*.swo
*.swp
*.vi
*~
# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.pyc
*.out
*.log
.tern-port
robotreviewer/data/uploaded_pdfs/*
deploy.tar.gz
!.gitkeep
robotreviewer/config.json
!robotreviewer/config.json.example
