argparse
dataset
unidecode
fuzzywuzzy
python-Levenshtein
ujson
nltk
mpld3
python-dateutil
apscheduler
gevent
greenlet

git+https://github.com/Theano/Theano.git
git+https://github.com/fchollet/keras.git
