argparse
dataset
unidecode
fuzzywuzzy
python-Levenshtein
ujson
nltk
mpld3
python-dateutil
apscheduler
gevent
greenlet

git+https://github.com/pandas-dev/pandas.git@v0.19.1
git+https://github.com/Theano/Theano.git@rel-0.9.0
git+https://github.com/fchollet/keras.git@1.2.2
