.judgement {
  margin: 0 0 0 1em;
}
.judgement li {
  font-size: x-small;
  color: #ccc;
  line-height: 1.125rem;
}

.judgement li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.judgement li i {
  vertical-align: middle;
  font-size: 0.875rem;
  margin-left: 3px;
  margin-top: -5px;
}
.judgement li span {
  color: #222222;
  font-size: 0.875rem;
}

.judgement a[data-tooltip] {
  display: inline;
  position: relative;
}

.judgement a[data-tooltip]:hover:after {
  font-weight: 300;
  font-size: small;
  background: rgba(0,0,0,.8);
  border-radius: 2px;
  bottom: 22px;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  left: 0;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}

.judgement a[data-tooltip]:hover:before {
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 6px 6px 0 6px;
  bottom: 16px;
  content: "";
  display: block;
  left: 25%;
  position: absolute;
  z-index: 99;
}

.bias-table {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  /*color: white;*/
  border: none;
  padding: 0;

}
.bias-table td {
  padding: 0.5625rem 0.225rem;
}

.risk-low {
  background-color: #87BB2A;
  color: white;
  text-align: center;
}

.processing-error {
  color: #EA4747;
}

.risk-high {
  background-color: #EA4747;
  color: white;
  text-align: center;
}

.trial-id-header {
  vertical-align: bottom;
  text-align: left;
}



th.rotate {
  height: 300px;
  white-space: nowrap;
}

th.rotate > div {
  transform: translate(25px, 131px)
                      rotate(315deg);
  width: 30px;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.reportcontainer {
  width: 800px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

.download {
  position: absolute;
  top: 0.95rem;
  right: 0;
}
.download a i {
  margin-right: 5px;
  vertical-align: middle;
}
