<!DOCTYPE html>
<html class="view">
  <head>
    <title>RobotReviewer: Automating evidence synthesis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/modernizr.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/spa/scripts/vendor/pdfjs/pdf.js') }}"></script>
    <script data-main="/scripts/main" src="/scripts/require.js"></script>
    <script>
     PDFJS.disableWebGL = false;
     CSRF_TOKEN = "{{ csrf_token() }}";
    </script>
  </head>

  <body>
    <nav id="top-bar" class="top-bar" data-topbar role="navigation">
      <div>
        <ul class="title-area">
          <li class="name">
            <h1><a href="/"><img src="/img/logo.png" />RobotReviewer</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="http://vortext.systems/robotreviewer">About</a></li>
          </ul>
        </section>
      </div>
    </nav>

    <main id="main"></main>
  </body>
</html>
