      {% if errors|length > 0 %}
      <h2>Warning: there were processing errors on</h2>
        <p class="processing-error">
        {% for error in errors %}
          {{ error|safe }}
        {% endfor %}
        These have been excluded from the output. 
        </p>
      {% endif %}

      <h2>Risk of bias table</h2>

      <table class='bias-table'>
        <tr class='bias-header-row'>
          <th class='trial-id-header'>trial</th>
          <th class='trial-id-header'>design</th>
          {% for header in headers %}
          <th class="rotate"><div><span>{{ header }}</span></div></th>
          {% endfor %}
        </tr>

        <!-- <p>Len articles = {{ articles|length }}</p> -->

  

        {% for study in articles %}
        <tr>
          <td class ="risk-studyid">
          {% if online %}
          <a target="_parent" href="/#document/{{ report_uuid }}/{{ study['pdf_uuid'] }}?annotation_type=bias_bot" class="annotation-link">
          {% endif %}
          {{ short_citation(study) }}
          {% if online %}
          </a>
          {% endif %}
          </td>
          <td class = "risk-studyid">
          {% if study.get('rct', {}).get('is_rct') %}
            RCT
          {% else %}
            not RCT
          {% endif %}
          </td>
          {% for domain in study.get('bias', []) %}
          <td class="{% if domain['judgement'] == 'low' %}risk-low{% elif domain['judgement'] == 'high/unclear' %}risk-high{% endif %}">{{ '+' if domain['judgement'] == 'low' else '?' }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>


      <h2>Characteristics of studies</h2>

      <!-- <img src=" {{ pico_plot_path }} "></img> -->
      {{ pico_plot|safe }}



      {% for study in articles %}
      <h3>{{ short_citation(study) }}</h3>

      <table class="char-pico-table">
        {% for domain in study.get('pico_text', []) %}
        <tr>
          <td>{{ domain['domain'] }}</td>
          <td>
            <ol class="judgement">
            {% for ann in domain['annotations'] %}
              <li>
                <span>{{ ann['content'] }}</span>
                {% if online %}
                <a data-tooltip="jump to annotation" target="_parent" href="/#document/{{ report_uuid }}/{{ study['pdf_uuid'] }}?annotation_type=pico_bot&uuid={{ ann['uuid'] }}" class="annotation-link"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                {% endif %}
              </li>
            {% endfor %}
            </ol>
          </td>
        </tr>
        {% endfor %}
      </table>

      <table class="char-bias-table">
        <tr>
          <th>Bias</th><th>Judgement</th>
          <th>Support for judgement</th>
        </tr>
        {% for domain in study.get('bias', []) %}
        <tr>
          <td>{{ domain['domain'] }}</td>
          <td>{{ domain['judgement'] }}</td>
          <td>
            <ol class="judgement">
            {% for ann in domain['annotations'] %}
              <li>
                <span>{{ ann['content'] }}</span>
                {% if online %}
                <a data-tooltip="jump to annotation" target="_parent" href="/#document/{{ report_uuid }}/{{ study['pdf_uuid'] }}?annotation_type=bias_bot&uuid={{ ann['uuid'] }}" class="annotation-link"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                {% endif %}
              </li>
            {% endfor %}
            </ol>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}

      <h2>References</h2>

      {% for study in articles %}
      <p>{{ loop.index }}. {{ long_citation(study) }} PMID: {{ study.get('pmid', 'not found') }}</p>
      {% endfor %}