{
    "robotreviewer": {
        "use_grobid": true,
        "grobid_path": "/Users/Robot/grobid",
        "grobid_host": "http://localhost:8070",
        "grobid_threads": 8,
        "spacy_threads": 8,
        "dont_delete": 0
	}
}
